<!DOCTYPE html>
<html>
<head>
    <title>FollowFitness - By Remko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/javascripts/followFitnessApp.module.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <!--<script src="/controllers/MainController.js"></script>-->
    <script src="/controllers/AuthController.js"></script>
    <script src="/controllers/NavController.js"></script>
    <script src="/controllers/TrainingController.js"></script>
    <!--<script src="/controllers/MenuController.js"></script>-->
    <script src="/services/authService.js"></script>
    <script src="/services/trainingService.js"></script>
    <!--<script src="/services/restaurantService.js"></script>-->
    <!--<script src="/services/menuService.js"></script>-->

    <!--<style>-->
    <!--.glyphicon-trash {-->
    <!--cursor: pointer;-->
    <!--}-->
    <!--</style>-->
</head>

<body ng-app="followFitnessApp">
<nav class="navbar navbar-default navbar-static-top" ng-controller="NavController as ctrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/trainings">FollowFitness</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p ng-show="ctrl.isLoggedIn()" class="navbar-text navbar-right">
                Signed in as {{ctrl.currentUser()}}
            </p>
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li ng-show="ctrl.isLoggedIn()"><a href="" ng-click="ctrl.logOut()">Log Out</a></li>
                    <li ng-hide="ctrl.isLoggedIn()"><a href="#/login">Log In</a></li>
                    <li ng-hide="ctrl.isLoggedIn()"><a href="#/register">Register</a></li>
                    <li ng-show="ctrl.isLoggedIn()"><a href="#/trainings">Trainings</a></li>
                    <li ng-show="ctrl.isLoggedIn()"><a href="#/newtraining">Add training</a></li>
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <ui-view></ui-view>
    </div>
</div>
<script type="text/ng-template" id="/trainings.html">
    <div class="page-header">
        <h2>Trainings</h2>
    </div>
</script>
<script type="text/ng-template" id="/login.html">
    <div class="wrapper">
        <div ng-show="ctrl.message" class="alert alert-danger alert-custom" role="alert">{{ctrl.message}}</div>
        <form ng-submit="ctrl.logIn()" class="form-signin">
            <h2 class="form-signin-heading text-center">Login</h2>
            <input type="email" class="form-control form-login" name="username" placeholder="Email Address" required
                   autofocus ng-model="ctrl.user.username"/>
            <input type="password" class="form-control form-login" name="password" placeholder="Password" required
                   ng-model="ctrl.user.password"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</script>
<script type="text/ng-template" id="/register.html">
    <div class="wrapper">
        <div ng-show="ctrl.message" class="alert alert-danger alert-custom" role="alert">{{ctrl.message}}</div>
        <form ng-submit="ctrl.register()" class="form-signin">
            <h2 class="form-signin-heading text-center">Register new user</h2>
            <input type="email" class="form-control form-login" name="username" placeholder="Email Address" required=""
                   ng-model="ctrl.user.username"/>
            <input type="password" class="form-control form-login" name="password" placeholder="Password" required
                   ng-model="ctrl.user.password"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</script>

<script type="text/ng-template" id="/newtraining.html">
    <div class="page-header">
        <h2>Add new training</h2>
    </div>
    <form ng-submit="ctrl.addTraining()" class="css-form" validate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.training.name" required></input>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description"  ng-model="ctrl.training.description" required></input>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" placeholder="Date" ng-model="ctrl.training.date" required></input>
        </div>
        <button class="btn btn-success" type="submit">Add training</button>
    </form>
</script>


</body>
</html>