<!DOCTYPE html>
<html>
<head>
    <title>FollowFitness - By Remko</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

</head>

<body ng-app="followFitnessApp">
<nav class="navbar navbar-default navbar-static-top" ng-controller="NavController as ctrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/trainings">FollowFitness</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p ng-show="ctrl.isLoggedIn()" class="navbar-text navbar-right">
                Signed in as {{ctrl.currentUser()}}
            </p>
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li ng-show="ctrl.isLoggedIn()"><a href="" ng-click="ctrl.logOut()">Log Out</a></li>
                    <li ng-hide="ctrl.isLoggedIn()"><a href="#/login">Log In</a></li>
                    <li ng-hide="ctrl.isLoggedIn()"><a href="#/register">Register</a></li>
                    <li ng-show="ctrl.isLoggedIn()"><a href="#/trainings">Trainings</a></li>
                    <li ng-show="ctrl.isLoggedIn()"><a href="#/newtraining">Add training</a></li>
                </ul>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <ui-view></ui-view>
    </div>
</div>
<script type="text/ng-template" id="/trainings.html">
    <div class="page-header">
        <h2>Trainings</h2>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" ng-repeat="training in ctrl.trainings">
                <uib-accordion-heading>
                    {{training.name}} on {{training.date | date:'dd-MM-yyyy'}}  <i class="pull-right glyphicon glyphicon-chevron-down"></i>
                </uib-accordion-heading>
                {{training.description}}
                <uib-accordion>
                    <h3>Exercises</h3>
                    <div uib-accordion-group class="panel-default" ng-repeat="exercise in training.exercises">
                        <uib-accordion-heading>
                            {{exercise.name}} <i class="pull-right glyphicon glyphicon-chevron-down"></i>
                        </uib-accordion-heading>
                        Machine : {{exercise.machine}}
                        <ul class="list-unstyled">
                            <li ng-repeat="set in exercise.sets" >
                                Weight : {{set.weight}} - Repeat : {{set.repeat}}
                            </li>
                        </ul>
                        <div class="pull-right">
                            <!--<p>TODO</p>-->
                        </div>
                    </div>
                </uib-accordion>
                <!--{{training.isCompleted}}-->
                <!--<i class="glyphicon glyphicon-ok" ng-click="ctrl.setCompleted(training)"></i>-->

                <div class="pull-right">
                    <a href="#/{{training._id}}/newexercise">Add exercise</a>
                    <a href="#/{{training._id}}/edit">Edit Training</a>
                </div>
            </div>
        </uib-accordion>
    </div>
</script>
<script type="text/ng-template" id="/login.html">
    <div class="wrapper">
        <div ng-show="ctrl.message" class="alert alert-danger alert-custom" role="alert">{{ctrl.message}}</div>
        <form ng-submit="ctrl.logIn()" class="form-signin">
            <h2 class="form-signin-heading text-center">Login</h2>
            <input type="email" class="form-control form-login" name="username" placeholder="Email Address" required
                   autofocus ng-model="ctrl.user.username"/>
            <input type="password" class="form-control form-login" name="password" placeholder="Password" required
                   ng-model="ctrl.user.password"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

    </div>
</script>
<script type="text/ng-template" id="/register.html">
    <div class="wrapper">
        <div ng-show="ctrl.message" class="alert alert-danger alert-custom" role="alert">{{ctrl.message}}</div>
        <form ng-submit="ctrl.register()" class="form-signin">
            <h2 class="form-signin-heading text-center">Register new user</h2>
            <input type="email" class="form-control form-login" name="username" placeholder="Email Address" required=""
                   ng-model="ctrl.user.username"/>
            <input type="password" class="form-control form-login" name="password" placeholder="Password" required
                   ng-model="ctrl.user.password"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</script>

<script type="text/ng-template" id="/newtraining.html">
    <div class="page-header">
        <h2>Add new training</h2>
    </div>
    <form ng-submit="ctrl.addTraining()" class="css-form" validate>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.training.name" required></input>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description"  ng-model="ctrl.training.description" required></input>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" placeholder="Date" ng-model="ctrl.training.date" required></input>
        </div>
        <button class="btn btn-success" type="submit">Add training</button>
    </form>
</script>
<script type="text/ng-template" id="/newexercise.html">
    <div class="page-header">
        <h2>Add new exercise</h2>
        <form ng-submit="ctrl.addExercise()" class="css-form" validate>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" ng-model="ctrl.exercise.name" required></input>
            </div>
            <div class="form-group">
                <label>Machine</label>
                <input type="text" class="form-control" placeholder="Description"  ng-model="ctrl.exercise.machine" required></input>
            </div>
            <div class="form-group">
                <label>Sets</label>
                <input type="number" class="form-control" min="1" ng-model="ctrl.numberOfSets" required></input>
            </div>
            <div class="form-group">
                <label>Weights ands repeats</label>
                <div ng-repeat="n in [].constructor(ctrl.numberOfSets) track by $index">
                    <p>Set {{$index + 1}}</p>
                <input type="number" class="form-control" placeholder="Weight"  ng-model="ctrl.exercise.sets[$index].weight" required></input>
                <input type="number" class="form-control" placeholder="Number of repeats"  ng-model="ctrl.exercise.sets[$index].repeat" required></input>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Add exercise</button>
        </form>
    </div>
</script>
<script type="text/ng-template" id="/exercises.html">
    <div class="page-header">
        <h2>Exercises</h2>
        <uib-accordion>
            <div uib-accordion-group class="panel-default" ng-repeat="exercise in ctrl.exercises">
                <uib-accordion-heading>
                    {{exercise.name}} <i class="pull-right glyphicon glyphicon-chevron-down"></i>
                </uib-accordion-heading>

                Machine : {{exercise.machine}}
                <ul class="list-unstyled">
                    <li ng-repeat="set in exercise.sets" >
                        Weight : {{set.weight}} , Repeat : {{set.repeat}}
                    </li>
                    </ul>
                <div class="pull-right">
                    <p>TODO</p>
                </div>
            </div>
        </uib-accordion>
    </div>
</script>

</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

<script src="/javascripts/followFitnessApp.module.js"></script>
<script src="/javascripts/angularApp.js"></script>
<script src="/controllers/ExerciseController.js"></script>
<script src="/controllers/AuthController.js"></script>
<script src="/controllers/NavController.js"></script>
<script src="/controllers/TrainingController.js"></script>
<script src="/services/authService.js"></script>
<script src="/services/trainingService.js"></script>
<script src="/services/exerciseService.js"></script>
</html>